body > div:nth-child(5) > aside > div > a, 
body > div:nth-child(5) > aside > div > a:focus, 
body > div:nth-child(5) > aside > div > a:hover {
    color: hsla(45, 100%, 51%, 1);
}



body > div:nth-child(5) > aside > div > a:focus, 
body > div:nth-child(5) > aside > div > a:hover {
  color: hsla(45, 100%, 51%, 1);
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #000, 0 0 3px #000, 0 0 4px #000;
  }
  
  to {
    text-shadow: 0 0 2px rgb(255, 84, 5), 0 0 3px rgb(255, 84, 5), 0 0 4px rgb(255, 84, 5);
  }
}



body > div:nth-child(5) > aside > div > span.twemoji.notice-icon {
    color: hsla(45, 100%, 51%, 1);
}
  