Markdown
MarkupSafe
mkdocs
mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocs-redirects
Pygments
pymdown-extensions
tags-macros-plugin @ git+https://github.com/jldiaz/mkdocs-plugin-tags@d26e2f124e4f3471639d426459e281080988fe7a
lightgallery @ git+https://github.com/colinbourassa/lightgallery-markdown.git@f1130e920d104346b688bf589e8a0429c39aa5c1
